@charset "utf-8";

/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titan One', cursive;
}

body {
    height: 100vh;
}

h1 {
    font-size: 50px;
    color: #00A597;
    text-align: center;
    margin-top: 120px;
}

.input-box {
    width: 38%;
    background-color: #fff;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 39px;
    height: 77px;

    display: flex;
    align-items: center;
    padding-left: 2.81em;
    border: 0.4px solid #808080;
}

.icon {
    width: 33px;
    height: 33px;
}

.input-box>input {
    flex-grow: 0.98;
    height: 73px;
    border-radius: 33px;
    font-size: 1rem;
    margin-left: 1.6em;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

::placeholder {
    opacity: 20%;
}

.main {
    width: 71%;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    /*	background-color: red;*/
}